<div class="container text-center">
    <h1>Който разбира, тука се спира.</h1>
    <p>Bar&Grill Миленката е създадена през далечната 1903 г. Храната ни ще задоволи
    всички ваши желания на достъпни цени.</p>
</div>