<!DOCTYPE html>
<html>
    <head></head>
    <body>
      <p>Получихте съобшение от полето за връзка на Миленката от
      <%= "#{ @name }, #{ @email }." %></p>
      <p><%= @body %></p>
    </body>
</html>